<div class="row">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Создать новый аукцион</div>
            <div class="panel-body">
                <form ng-submit="submit()" name="auctionCreate">
                    <div class="form-group">Тип аукциона:
                        <select ng-model="auction.auctionType">
                            <option value="1">Наружная реклама</option>
                            <option value="2">Газета</option>
                        </select>
                    </div>
                    <div class="form-group">Адрес:
                        <input type="text" ng-model="auction.address"/>
                    </div>
                    <div class="form-group">Максимально допустимый бюджет: <input type="text" ng-model="auction.maxPrice"/></div>
                    <button type="submit" class="btn btn-default">Создать</button>
                    <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
                </form>
            </div>
        </div>
    </div>
</div>