<div class=" col-md-4 col-md-offset-4">
	<div class="panel panel-default">
		<div class="panel-heading">Форма входа</div>
		<div class="panel-body">
			<div class="col-md-12">
				<form ng-submit="login()">
					<div class="form-group">
						<label for="username">Пользователь:</label> <input type="txt"
							class="form-control" ng-model="username" id="username">
					</div>
					<div class="form-group">
						<label for="pwd">Пароль:</label> <input type="password"
							class="form-control" id="pwd" ng-model="password">
					</div>
					<button type="submit" class="btn btn-default">Подтвердить</button>
					<button class="btn btn-default" ui-sref="register">Регистрация</button>

					<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
				</form>
			</div>
		</div>
	</div>
</div>