<div class=" col-md-6 col-md-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading">Регистрация</div>
		<div class="panel-body">
			<div class="col-md-12">
				<form ng-submit="submit()" name="register" novalidate>

					<div class="form-group"
						ng-class="{ 'has-error': register.name.$invalid && register.name.$dirty }">
						<label for="name">Имя:</label> <input type="text" required
							class="form-control" ng-model="appUser.name" id="name"
							name="name">
					</div>

					<div class="form-group"
						ng-class="{ 'has-error': register.username.$invalid && register.username.$dirty }">
						<label for="username">Пользователь:</label> <input type="text"
							required class="form-control" ng-model="appUser.username"
							id="username" name="username">
					</div>

					<div class="form-group"
						ng-class="{ 'has-error': register.password.$invalid && register.password.$dirty }">
						<label for="pwd">Пароль:</label> <input type="password" required
							class="form-control" id="pwd" ng-model="appUser.password"
							name="password">
					</div>

					<div class="form-group"
						ng-class="{ 'has-error': register.confirmPassword.$invalid && register.confirmPassword.$dirty }">
						<label for="cpwd">Повторите пароль:</label> <input type="password"
							name="confirmPassword" required class="form-control" id="cpwd"
							ng-model="confirmPassword">
					</div>

					<div class="alert alert-warning margin-top-5"
						ng-show="confirmPassword != appUser.password ">Пароль не совпадает</div>

					<button type="submit" class="btn btn-default"
						ng-disabled="register.$invalid || (confirmPassword != appUser.password)">Регистрация</button>
					<button class="btn btn-default" ui-sref="login">Вход</button>
					<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
				</form>
			</div>
		</div>
	</div>
</div>